<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.diagnostics>
		<sources>
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog"
				 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
				 initializeData="FileLogWriter"/>
		</sharedListeners>
	</system.diagnostics>

	<system.serviceModel>

		<bindings>
			<basicHttpBinding>
				<binding name="ServiceSoap">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>

			<customBinding>
				<binding name="ServiceSoap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
			</customBinding>
		</bindings>

		<client>

			<!-- PRODUCCION -->
			<endpoint address="https://servicios1.afip.gov.ar/wsfev1/service.asmx"
					  binding="basicHttpBinding"
					  bindingConfiguration="ServiceSoap"
					  contract="ServiceSoap"
					  name="ServiceSoap" />

			<endpoint address="https://servicios1.afip.gov.ar/wsfev1/service.asmx"
					  binding="customBinding"
					  bindingConfiguration="ServiceSoap12"
					  contract="ServiceSoap"
					  name="ServiceSoap12" />

			<!-- HOMOLOGACION -->
			<endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
					  binding="basicHttpBinding"
					  bindingConfiguration="ServiceSoap"
					  contract="ServiceSoap"
					  name="ServiceSoap_HOMO" />

			<endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
					  binding="customBinding"
					  bindingConfiguration="ServiceSoap12"
					  contract="ServiceSoap"
					  name="ServiceSoap12_HOMO" />

		</client>

	</system.serviceModel>

</configuration>